*,
*::before,
*::after {
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 1.5rem;
  overflow-x: hidden;
  background: url('JLXpuK.png');
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0;
  /* backdrop-filter: blur(px); */
}

h1 {
  width: 100%;
  color: rgb(108, 164, 248);
  text-align: center;
  margin: 0;
  backdrop-filter: blur(4px);
  /* padding: 1.5rem; */
}

#input,
#output {
  background-color: rgb(198, 199, 253);
  color: rgb(8, 8, 8);
  font-weight: bold;
  font-size: 1rem;
  height: 25vh;
  width: 75%;
  margin: 1.5rem 0;
  border: none;
  border-radius: 1.5rem;
  padding: 1.5rem;
}

#btn {
  display: block;
  padding: 1rem 1.5rem;
  border-radius: 0.5rem;
  background-color: rgb(123, 164, 241);
  border: 0.2rem solid rgb(16, 19, 39);
  color: rgb(0, 32, 75);
  font-weight: bold;
  box-shadow: 4px 8px 24px 0px rgba(68, 68, 68, 0.1);
  transform: scale(1);
}

#btn:hover {
  transform: scale(1.1);
}

section {
  border: 0.4rem solid rgb(16, 19, 39);
  width: 100%;
  border-radius: 1rem;
  padding: 2rem;
  margin: auto;
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  background: rgba(48, 130, 236, 1);
  color: rgb(0, 32, 75);
  margin-bottom: 0px;
}

@media (min-width: 950px) {
  #input,
  #output {
    width: 50%;
  }
}
